.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: #d32626;
    margin-bottom: 50px;
    display: flex ;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #f5a31a;
  }

  input::placeholder{
   font-size: medium;
  }

  